---
import ContainerSection from "../components/ContainerSection.astro";
import Disponible from "../components/Disponible.astro";
import Experiencia from "../components/Experiencia.astro";
import Iconos from "../components/Iconos.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import Mail from "../icons/Mail.astro";
import WhatsApp from "../icons/WhatsApp.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="px-4 flex-wrap md: flex lg:flex">
    <ContainerSection class="w-full lg:w-[800px] mx-auto py-10">
      <h1
        class="font-bold text-2xl md:text-4xl lg:text-5xl flex gap-x-4 items-center flex-row pb-5 lg:pb-7"
      >
        Hola, soy Jhonjandrys <a
          href="https://www.linkedin.com/in/jhonjandrysdev/"
          target="_blank"
          rel="noopener"
          class="flex items-center"
        >
          <Disponible>Disponible para trabajar</Disponible>
        </a>
      </h1>
      <h2 class="lg:text-2xl text-lg  opacity-80 text-wrap text-justify"> 
        <span class="text-[color:#2f6fe3] font-bold hover:text-[color:#2815c3]"
          >Desarrollador Frontend 💻</span
        > con +1 año de experiencia como Freelance, en busqueda de mi primera experiencia
        profesional y me especializo en desarrollo de paginas y aplicaciones web
        que aporten una excelente experiencia al usuario.
      </h2>
      <nav class="flex gap-5 pt-4 flex-wrap">
        <Iconos href="https://www.linkedin.com/in/jhonjandrysdev/">
          <Linkedin class="size-4" />
          LinkedIn
        </Iconos>
        <Iconos href="https://github.com/Jhonjandrysdev">
          <Github class="size-4" />
          GitHub
        </Iconos>
        <Iconos href="mailto:jhonjandrysramirez10@gmail.com">
          <Mail class="size-4" />
          jhonjandrysramirez10@gmail.com
        </Iconos>
        <Iconos
          href="https://wa.me/3022825766?text=Hola%20Jhonjandrys%20estoy%20intersado%20en%20un%20proyecto%20💻"
        >
          <WhatsApp class="size-4 lg:size-6" />
          +57 3022825766
        </Iconos>
      </nav>
    </ContainerSection>
    <ContainerSection id="experiencia">
      <Experiencia/>
    </ContainerSection>
  </main>
</Layout>
