---
import ElementoExperiencia from "./ElementoExperiencia.astro"

const experiencia = [{
    Fecha: "Octubre 2023 - Actualidad",
    Titulo: "Desarrollador Freelance 游눹",
    Descripcion: "Desde octubre de 2023, me he dedicado al desarrollo de aplicaciones web modernas e interactivas como freelance. Durante este tiempo, he participado en proyectos destacados, como la creaci칩n de un clon de Twitter/X, utilizando tecnolog칤as como React, JavaScript, HTML, Tailwind y CSS. Mi enfoque se centra en crear soluciones eficientes y funcionales, asegurando experiencias de usuario intuitivas y atractivas. Siempre busco superar las expectativas mediante un dise침o limpio, un c칩digo escalable y la implementaci칩n de las mejores pr치cticas.",
    Link: "#proyectos"
}];
---

<ol class="items-center sm:flex">
    {
        experiencia.map((experiencia) => (
            <li class="relative mb-6 sm:mb-0">
                <ElementoExperiencia {...experiencia}/>
            </li>
        ))
    }
</ol>

