---
import ElementoExperiencia from "./ElementoExperiencia.astro"

const PROYECTOS = [
    {
        Fecha: "Octubre - 2023",
        Titulo: "Clon - Twitter/X",
        Descripcion: "Desarrollo de un clon de la plataforma X (antes conocida como Twitter) como proyecto final del Bootcamp. Utilizando React, se implement칩 la funcionalidad para crear tweets, dar likes y mantener un conteo din치mico de interacciones en tiempo real. Este proyecto demuestra habilidades en el manejo de componentes y estados.",
        Link: "https://xbyjhon.netlify.app/" 
    },
    {
        Fecha: "Septiembre - 2023",
        Titulo: "Todo LIST",
        Descripcion: "Creaci칩n de una aplicaci칩n de lista de tareas (Todo List) utilizando React y JavaScript. Este proyecto sirvi칩 como pr치ctica para el uso de props, manejo del estado local, y la estructuraci칩n de componentes reutilizables, adem치s de reforzar conceptos de gesti칩n de datos y dise침o interactivo.",
        Link: "https://todolistjhonjandrys.netlify.app/" 
    },
    {
        Fecha: "Agosto - 2023",
        Titulo: "Calculadora",
        Descripcion: "Desarrollo de una calculadora interactiva como proyecto personal. Implementada con React y JSX, la calculadora incluye funcionalidades como operaciones b치sicas y dise침o amigable para el usuario. Este proyecto refleja la capacidad de construir interfaces funcionales y 칰tiles con fundamentos s칩lidos en JavaScript.",
        Link: "https://calculadorajhonjandrysdev.netlify.app/" 
    },
];

const experiencia = [{
    Fecha: "Octubre 2023 - Actualidad",
    Titulo: "Desarrollador Freelance 游눹",
    Descripcion: "Desde octubre de 2023, me he dedicado a desarrollar aplicaciones web modernas e interactivas como freelance. Durante este tiempo, he trabajado en proyectos destacados como un clon de Twitter/X, utilizando tecnolog칤as como React, JavaScript, HTML, Tailwind y CSS. Mi enfoque est치 en crear soluciones eficientes y funcionales, asegurando experiencias de usuario intuitivas y atractivas. Siempre busco superar expectativas a trav칠s de un dise침o limpio, un c칩digo escalable y la implementaci칩n de mejores pr치cticas.",
    Link: "#proyectos"
}];
---

<ol class="items-center sm:flex">
    {
        experiencia.map((experiencia) => (
            <li class="relative mb-6 sm:mb-0">
                <ElementoExperiencia {...experiencia}/>
            </li>
        ))
    }
</ol>

