---
import Brief from "../icons/Brief.astro";
import Code from "../icons/Code.astro";
import Contact from "../icons/Contact.astro";
---

<footer
  class="rounded-lg shadow m-4 dark:bg-gray-800 w-full xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl flex flex-wrap justify-center p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2025 <a href="#top" class="hover:underline">Jhonjandrys Ramirez </a> -
      Todas las licencias reservadas
    </span>
    <ul
      class="flex flex-wrap justify-center gap-5  m-3 items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400"
    >
      <li>
        <a
          href="#experiencia"
          class="hover:text-[color:#2f6fe3] hover:font-extrabold"
          ><Brief class="size-7" /></a
        >
        <li>
          <a
            href="#proyectos"
            class="hover:text-[color:#2f6fe3] hover:font-extrabold"
            ><Code class="size-7" /></a
          >
          <li>
            <a
              href="#contacto"
              class="hover:text-[color:#2f6fe3] hover:font-extrabold"
              ><Contact class="size-7" /></a
            >
          </li>
        </li>
      </li>
    </ul>
  </div>
</footer>
