---
import Brief from "../icons/Brief.astro";
import Code from "../icons/Code.astro";
import Contact from "../icons/Contact.astro";
import Home from "../icons/Home.astro";
---

<header class="flex justify-center items-center gap-y-3 p-4 w-[300px] xl:w-[300px] mx-auto my-4 fixed top-0 right-0 left-0 rounded-full bg-black border-[color:#2f6fe3] border-[2px] z-10">
  <nav class="flex flex-row gap-x-7 opacity-80 items-center justify-center">
    <a href="#top" class="icon-link"><Home class="size-7"/></a>
    <a href="#experiencia" class="icon-link"><Brief class="size-7"/></a>
    <a href="#proyectos" class="icon-link"><Code class="size-7"/></a>
    <a href="#contacto" class="icon-link"><Contact class="size-7"/></a>
  </nav>
</header>

<style>
.icon-link svg {
    stroke: white;
    transition: stroke 0.3s ease;
}

.icon-link:hover svg {
    stroke: #2f6fe3;
}

@media (prefers-color-scheme: dark) {
    .icon-link svg {
        stroke: white;
        transition: stroke 0.3s ease;
    }

    .icon-link:hover svg {
        stroke: #2f6fe3
    }
}
</style>
