<a
{...Astro.props.class}
  class="border rounded-full border-white/40 flex gap-x-2 py-2 justify-center items-center px-3 bg-white/15 hover:scale-110 hover:bg-white/20 transition"
  href={Astro.props.href}
  target="_blank"
  rel="noopener"
>
  <slot />
</a>
