---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
---


<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description", content="Contrata a Jhonjandrys para crear tu pagina web o aplicación y hacer tu sueño real. Desarrollador y programador web con +1 año de experiencia">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio de Jhonjandrys - Desarrollador y progamador Web</title>
  </head>
  <body>
    <div
      class="absolute inset-0 -z-10 h-full w-full items-center [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#2f6fe3_100%)]"
    >
    <Header />
    <slot />
    <Footer/>
  </div>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    /*Se le esta indicando al navegador que colores debe soportar*/
  }
  html {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;  
  }
  body {
    margin: 0 auto;
    font-family: "Onest Variable", sans-serif;
  }
  @media (prefers-reduced-motion: reduce){
    html{
      scroll-behavior: auto;
    }
  }
</style>
